.usa-alert {
  background-position: 1.48rem 0.96rem;
  background-size: 2.48rem;
  margin-top: 0;
  padding: 1.24rem 1.24rem 1.24rem 1.72rem;

  .usa-alert__heading {
    font-size: 1.72rem;
    margin-bottom: 0;
  }
}
