.ctb-source-sans {
  font-family: "Source Sans Pro Web";
}

.ctb-text-center {
  text-align: center;
}

.ctb-text-right {
  text-align: right;
}

.ctb-text-left {
  text-align: left;
}

.ctb-display-inline-block {
  display: inline-block;
}

.ctb-vert-align-top {
  vertical-align: top;
}

.ctb-text-big {
  font-size: 2.24rem;
  font-family: $fontFamily;
}

.ctb-bold {
  font-weight: 700;
}

.ctb-italic {
  font-style: italic;
}

.ctb-left-padding {
  padding-left: 0.24rem;
}

.ctb-left-padding-header {
  padding-left: 0.16rem;
}

.ctb-top-padding {
  padding-top: 0.72rem;
}

.ctb-margin-bottom-halfRem {
  margin-bottom: 0.5rem;
}
