.ctb-seoc-control-wrapper {
  position: relative;

  select {
    width: calc(100% - 12rem);
  }

  .ctb-view-seoc {
    bottom: 0;
    margin: 0;
    padding: 0.76rem;
    position: absolute;
    right: 0;
    width: 10rem;
  }

  .ctb-read-only-text {
    display: block;
  }
}
